/**
 * App Component Styles
 * Component-specific styles only - common styles are in styles/_app.scss
 */

// All common styles moved to styles/_app.scss
// Add component-specific overrides here if needed
